.tab-content.server.tab-content.server
  .layout-3.layout-3
    background: $light-brown
    padding: 1rem 1.5rem
    .info-title
      color: $color-b
      &::before,&::after
        display: none
    .info-content
      background: white
      border-radius: 50%
      height: 100%
      padding-top: 1rem
      h2.info-title
        font-size: 42px
        @media #{$dsk}
          font-size: 2.5vw
      .info-row
        padding: 0 0 0 1rem
        @media #{$mobile}
          padding-left: 15%
      h4.title
        width: 100%
      .border
        display: flex
        width: 100%
        justify-content: center
        margin-bottom: .5rem
        &::before
          content: ''
          display: block
          width: 80%
          height: 1rem
          background: url('../../dist/images/work-layout-3-border.png') no-repeat
          background-size: cover
          background-position: center
        &.end
          margin-bottom: 0
      .content-footer
        width: 100%
        padding-bottom: 4rem
        h4.title
          font-size: 36px
          letter-spacing: 0.7rem
          width: 100%
          @media #{$dsk}
            font-size: 2.6vw
          &.money
            font-weight: 400
            font-size: 32px
            letter-spacing: .2rem
            @media #{$dsk}
              font-size: 2vw