.tab-content.server.tab-content.server
  .layout-9.layout-9
    background: $light-brown
    padding: .5rem
    >h4.title
      background: white
      padding: 15px
      height: 74px
      text-align: center
      position: relative
      span
        margin-top: 0
        padding: 0rem 0
        font-size: 31px
        width: 80%
        display: block
        margin: 0 auto
        overflow: hidden
        @media (min-width: 1800px)
          font-size: 42px
      &::before,
      &::after
        content: ''
        width: 9px
        height: 9px
        background: $light-brown
        display: inline-block
        margin: 0 1rem
        position: absolute
        left: 15px
        top: 25px
        @media (min-width: 1800px)
          top: 35px
      &::after
        right: 15px
        left: initial
        // @media #{$dsk}
        //   width: 0.9vw
        //   height: .9vw
    .info-content
      background: none
      padding-top: 0
      padding-left: 15px
      padding-right: 15px
      .text-box
        table
          tbody
            tr
              td
                color: white
      .col-sm-4,
      .col-sm-8
        color: white
    .info-footer
      h2.info-title
        margin-top: 0
        background: white
        color: $color-b
        font-size: 42px
        padding: .5rem 0
        height: 77px
        overflow: hidden
        text-overflow: ellipsis
        font-weight: bold
        display: block
        width: 100%
        white-space: nowrap
        padding: 0 15px
        padding-top: 15px
        &::before,
        &::after
          display: none
      h4.money
        text-align: center
        padding: 1rem 15px
        border: 2px solid white
        border-radius: 1rem
        color: white
        height: 73px
        margin-bottom: 0
        display: flex
        justify-content: space-around
        align-items: center
        span
          font-size: 28px
          letter-spacing: 0.5rem
          overflow: hidden
          text-overflow: ellipsis
          min-width: 40%
          // @media #{$dsk}
          //   font-size: 2.5vw
        small
          font-size: 16px
          padding: .5rem 0
          color: white
          position: relative
          top: 3px
          // @media #{$dsk}
          //   font-size: 1.1vw