.tab-content.server.tab-content.server
  .layout-2.layout-2
    background: url('../../dist/images/work-layout-2-bg.png') no-repeat
    background-size: 100% 100%
    padding: 4.5rem 2rem 0
    @media #{$dsk}
      padding: 4vw 2vw 0
    h2.info-title
      color: $color-b
      font-size: 42px
      margin-bottom: 0
      @media #{$dsk}
        font-size: 2.5vw
      &::before,
      &::after
        display: none
    .info-content
      padding: 0rem .5rem 0
      background: none
      @media #{$dsk}
        padding: 0vw 2vw 0
      h4.title
        font-size: 32px
        background: $light-brown
        color: white
        letter-spacing: 1rem
        width: 100%
        border-radius: 1.7rem
        padding: .5rem 0
        text-align: center
        font-weight: normal
        @media #{$dsk}
          font-size: 2vw
      .info-row
        padding-left: 1rem
        padding-right: 1rem
        overflow: hidden
    .info-footer
      padding: 0 1rem
      h4.title
        margin-top: 0
        background: $light-brown
        padding: 1rem 0
        border-radius: 0 0 2.5rem 2.5rem
        color: white
        font-weight: normal
        letter-spacing: 0.5rem
        small
          color: white