.layout-1
  background: $light-brown
  h4.title
    border-bottom: 3px solid $light-brown
    padding-bottom: 0.5rem
    letter-spacing: .7rem
    width: 100%
  .info-content
    border-radius: 6rem 0 0 0
    h4.title
      margin-bottom: 2rem
  .content-footer
    display: block
    width: 100%
    h4.title
      letter-spacing: .7rem
      border-top: 3px solid $light-brown
      padding: 1rem 0
      margin-bottom: 1.5rem
  .info-footer
    background: $light-brown
    width: 100%
    padding: 0 1rem
    display: flex
    flex-wrap: wrap
    justify-content: center
    border-bottom: 2.5rem solid white
    &::before
      content: ''
      display: flex
      padding: .5rem 0
      height: 2rem
      width: 100%
      background-position: -3px
      background-image: url('../../dist/images/work-layout-1-footer.png')
      background-color: $light-brown