.worktabs.resume.resume
  .worktabs.work-info
    padding: 0
    width: 100%
  >.row
    .form-control
      border: 2px solid $light-brown
      padding-top: 0.3vw
      height: 2.2vw
      border-radius: .5vw
      width: 10vw
      box-shadow: 1px 1px 10px -3px $color-b
      @media #{$mobile}
        height: 3rem
        padding: .5rem
        width: 100%
        margin-top: .5rem
    .form-group
      display: block
      width: 100%
      flex-wrap: wrap
      // justify-content: center
      float: left
      font-size: 16px
      // flex-wrap: nowrap
      @media #{$mobile}
        display: block
      .verification+a
        @media #{$mobile}
          display: block
          margin-top: 7.55px
          text-align: center
      span.form-text
        display: inline-block
        margin: 0 7.5px
        position: relative
        top: 2px
        @media #{$mobile}
          position: static
          margin: 7.5px 0
      #verify_image
        width: 100px
        height: auto
      input,
      select,
      .select-group
        font-size: .8vw
        line-height: 2vw
        min-width: 15rem
        max-width: 40%
        @media #{$pad-pc}
          font-size: 1.5rem
          line-height: 2rem
        @media #{$mobile}
          font-size: 1.5rem
          line-height: 2rem
          width: 100%
          max-width: initial
        &+input,
        &+select,
        &+a
          margin-left: 15px
          @media #{$mobile}
            margin-left: 0
      .select-group
        width: calc(50% - 8rem)
        display: inline-block
        @media #{$pad-pc}
          position: relative
          top: .75rem
        @media #{$mobile}
          width: 100%
        #year
          width: 50%
          min-width: initial
        #month,
        #day
          width: calc(25% - 1rem)
          margin-left: 0.5rem
          min-width: initial
      textarea
        font-size: .8vw
        line-height: 2vw
        max-width: inherit
        height: auto
        width: 100%
        @media #{$pad-pc}
          font-size: 1.5rem
          line-height: 3rem
        @media #{$mobile}
          font-size: 1.5rem
          line-height: 3rem
          width: 100%
      .radio-inline
        display: inline-flex
        align-items: center
        position: relative
        label
          font-size: 1vw
          font-weight: 400
          padding-left: .5vw
          @media #{$pad-pc}
            font-size: 1.5rem
          @media #{$mobile}
            font-size: 1.5rem
          &::before,&::after
            content: ''
            display: inline-block
            width: 1.1vw
            height: 1.1vw
            position: absolute
            left: 0
            top: .75vw
            background: $color-n
            border-radius: 50%
            border: 3px solid $light-brown
            @media #{$mobile}
              width: 1.5rem
              height: 1.5rem
              top: .7rem
          &::after
            z-index: 4
            background: $color-b
            width: 0.35vw
            height: 0.35vw
            top: 1.15vw
            left: 0.35vw
            border: 0
            opacity: 0
            transition: .3s ease-in
            @media #{$mobile}
              width: 0.5rem
              height: 0.5rem
              top: 1.2rem
              left: .5rem
        input[type="radio"]
          max-width: initial
          min-width: initial
          width: auto
          height: auto
          background: $color-n
          position: absolute
          left: 0
          top: 4px
          display: inline-flex
          margin: 0
          &:checked+label
            &::after
              opacity: 1
      .flex.no-wrap
        display: flex
        flex-wrap: wrap
        width: 100%
        margin: 0
        justify-content: flex-start
        @media #{$mobile}
          width: 100%
          flex-wrap: wrap

        $select: 150px

        select.form-control
          width: $select
          min-width: 4rem
          @media #{$mobile}
            width: 100%
        input
          width: calc(100% - #{$select} - 2rem)
          margin-left: 2rem
          @media #{$mobile}
            width: 100%
            margin-left: 0
          &#pay_money
            max-width: initial
            min-width: initial
      .help-block.help-block.help-block
        display: block
        width: 100%
        ul
          li
            margin: 0
      &.weight
        >span
          @media #{$mobile}
            display: block
            width: 100%
            margin-bottom: .5rem
        label
          @media #{$mobile}
            font-weight: 400
        input
          width: 3vw
          min-width: 8rem
          position: relative
          @media #{$mobile}
            width: 5rem
            min-width: initial
            display: inline-block
      input[type="mail"]
        width: 25vw
        @media #{$mobile}
          width: 100%
      &.address
        input
          width: 25vw
          @media #{$mobile}
            width: 100%
  .col-sm-9 
    .work-info-content 
      article 
        .sub-list 
          width: 100%
          li
            margin-bottom: 1vw
            @media #{$mobile}
              margin-bottom: 1rem
      .form-inline
        .list:last-child
          padding-bottom: 1vw
.submit-modified
  padding: .3vw 3vw
  background: $color-b
  font-size: .8vw
  color: white
  transition: .3s ease-in
  @media #{$mobile}
    padding: .5rem 3rem
    font-size: 1.5rem
  &:hover,
  &:focus
    background: $light-brown
    color: white
    outline: none
  &.upload
    background: $color-n
    color: $light-brown

.pagination.pagination.pagination
  a
    color: $light-brown
    margin: 0 .2rem
  .active
    a
      background: $light-brown
      color: white
      border-color: $light-brown

.pager.pager.pager
  .previous,
  .next
    a
      border-radius: 15px