footer.container-fluid.foot
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  @media screen and (min-width: 768px)
    padding-bottom: 15px
  @media #{$mobile}
    padding-bottom: 30px
.foot
  // border-top: 13px solid $deep-brown
  background: white
  @media #{$mobile}
    margin-bottom: 4rem
  .row
    display: flex
    margin-top: 0rem
    flex-wrap: wrap
    // border-top: 2px solid $deep-brown
    // padding: 2rem 1rem 0
    ul
      margin-top: 1rem
      margin-bottom: .5rem
      @media #{$pad-pc}
        left: 0
      @media #{$dsk}
        margin-top: 1.5vw
        margin-bottom: 1vw
    li
      padding: 0
      a
        padding-top: 0
        padding-bottom: 0
        color: $deep-brown
        font-size: 1rem
        letter-spacing: 0.5rem
        border-radius: 0
        @media #{$dsk}
          font-size: 1vw
    li:first-child
      a
        border-right: 2px solid $deep-brown