header.container-fluid
  background: white
.logo
  border-top: 2px solid $deep-brown
  border-bottom: 13px solid $deep-brown
  padding: 2rem 0
  @media #{$mobile}
    padding: 0 2rem
  a
    display: block
    width: 50%
    margin-left: auto
    margin-right: auto
    @media #{$pad}
      width: 100%
      padding: 4rem 0
    @media #{$mobile}
      width: 100%
      padding: 4rem 0
  svg
    width: 100%
    @media #{$pad}
      width: 100%
      max-width: 700px
    @media #{$mobile}
      width: 100%
      max-width: 700px
.navbar
  margin-bottom: 0
  .container-fluid
    background: white
    margin-bottom: 0
    border-bottom: 2px solid $deep-brown
    margin-top: .5rem
    border-top: 2px solid $deep-brown
.menu
  .container-fluid
    padding: 0 15%
    @media #{$mobile}
      padding: 0
  .nav
    width: 100%
    justify-content: space-around
    @media #{$mobile}
      margin: 0
      flex-wrap: wrap
    li
      text-align: center
      width: calc(100% / 4)
      @media #{$mobile}
        width: 50%
      a
        font-size: 1rem
        color: #3e3a39
        transition: .3s ease-in
        background: none
        display: inline-block
        @media #{$dsk}
          font-size: 1.1vw
        &:hover,
        &.active
          color: $light-brown
        &::before
          content: ''
          width: 1rem
          height: 1rem
          display: inline-flex
          background: $light-brown
          margin-right: 0.5rem
          transition: .3s ease-in-out
        &.active
          &::before
            transform: rotate(-45deg)