include ../jsonFormat/tabs_site
include ../workLayout/layout
include ../components/accordion
<!DOCTYPE html>
html(lang="zh-hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="./dist/css/owl.carousel.min.css")
    link(rel="stylesheet", href="./dist/css/animate.min.css")
    link(rel="stylesheet", href="./dist/css/usercss.css")
    script(src="./dist/js/jquery.min.js")
    script(src="./dist/js/bootstrap.min.js")
    script(src="./dist/js/owl.carousel.min.js")
    script(src="./dist/js/vivus.min.js")
    script(src="./dist/js/userjs.js")
    title 聯絡我們
  body
    .wrapper.contact
      include ../custom_module/social-menu
      include ../custom_module/header
      .container-fluid
        .row.faq
          .contact-content.col-xs-12.page-qa
            header.head
              h2.title.text-light-brown Q&A
            -
              var howToShop = ['【約定條款】', '【申請流程】', '【工作查詢】']
            each item, index in howToShop
              if (index === 0)
                .panel
                  a(href="#qa" + index, data-toggle="collapse", data-parent=".page-qa")
                    span.name=item
                  .collapse(id="qa" + index)
                    p 在您進行線上購物服務前，請先詳細閱讀
                      a(href="javascript: void(0)") 線上約定條款
              if (index === 1)
                .panel
                  a(href="#qa" + index, data-toggle="collapse", data-parent=".page-qa")
                    span.name=item
                  .collapse(id="qa" + index)
                    p 選購商品→購物結帳→填寫資料與付款→訂購完成
                    p.title ※ 選購商品
                    p 您可直接瀏覽歐舒丹網站來找到您要的商品，或者透過搜尋的功能直接挑選，我們提供全系列的商品供您選購，還有網路獨家販售的商品和組合，建議您也可以根據我們提供的「系列分類」和「用途分類」來尋找適合您的商品。
                    p.title ※ 購物結帳
                    p 在要購買的商品頁上先選擇購買數量，再點選「放入購物車」，即可繼續購買其他商品，挑選完所有商品後，點選頁面上的「我的購物車」功能選項，即可進入結帳頁面。 
                    p.title ※ 填寫資料與付款
                    p 填寫正確詳細的收件者與信用卡資料，完成後請點選「確認送出」。
                    p.title ※ 訂購完成
                    p 付款完成後訂單即成立，您的電子信箱會即時收到訂單成立的通知信件，商品將於七個工作天內（不含週休及國定例假日）送達收件地址。
              if (index === 2)
                .panel
                  a(href="#qa" + index, data-toggle="collapse", data-parent=".page-qa")
                    span.name=item
                  .collapse(id="qa" + index)
                    p 當您完成訂購程序後，您可以利用頁面右上方的「訂單查詢」功能，查詢目前的訂單狀態，各訂單狀態說明如下：
                    br
                    p 
                      | NEW（新訂單成立）：代表您的信用卡線上交易通過了銀行的認證，訂單已經正式成立。
                      br
                      | INVOICED（訂單處理中）：代表客服人員已查詢到的您的訂單，正在處理中。
                      br
                      | PREPARED（商品準備中）：代表客服人員正根據您的訂單資料，進行商品的挑選和包裝。
                      br
                      | SHIPPED（商品已出貨）：代表您的商品已經出貨，正由宅配物流公司進行配送，商品會於訂單成立日起的七個工作天內（不含週休及國定例假日）送達您指定的收件地址。
                      br
                      | CLOSED（商品已到貨）：代表您的商品已經送達您指定的收件地址且已簽收。
          .contact-content.col-xs-12
            header.head
              h2.title.text-light-brown 聯絡我們
            article.content
              .form-group
                span.col 姓&nbsp;&nbsp;&nbsp;名：
                input.form-control(type="text", value="")
              .form-group
                span.col 電&nbsp;&nbsp;&nbsp;話：
                input.form-control(type="tel", value="")
              .form-group
                span.col email：
                input.form-control(type="mail", value="")
              .form-group
                span.col 詢問內容：
                textarea.form-control(cols="30", rows="5")
            footer.foot.text-center
              a.btn(href="#") 送出
      include ../custom_module/footer