<!DOCTYPE html>
html(lang="zh-hant")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="./dist/css/owl.carousel.min.css")
		link(rel="stylesheet", href="./dist/css/animate.min.css")
		link(rel="stylesheet", href="./dist/css/usercss.css")
		script(src="./dist/js/jquery.min.js")
		script(src="./dist/js/bootstrap.min.js")
		script(src="./dist/js/owl.carousel.min.js")
		script(src="./dist/js/vivus.min.js")
		script(src="./dist/js/userjs.js")
		title WORK NEWS 打工快報
	body
		.wrapper
			include ../custom_module/social-menu
			include ../custom_module/header
			.banner.container-fluid.owl-carousel
				a.item.row.flex(href="javascript: void(0)")
					.col-sm-7.col-xs-12
						img.img-responsive(src="./dist/images/banner.jpg", alt="")
					.col-sm-5.col-xs-12.deep-brown
						.row
							.col-xs-12.light-brown
								h2.title WORK
							.col-xs-12.info
								p 
									| 視體講引面兒林王……動情都場現最況能度，的我當面子陽家就到，很許頭；年如美根來上晚，多事夫歷片；什的前如為界能排不了遊表時事大我流設由出是策王理人型在的至立濟整多人程前聲這整會能賽臺親水他晚書海子包坐送。嚴天她府海件：遊異子花爭；眼我基型究可景山善成，過心的服再熱聲林前樣她；一立流市能林結特在義是南富考就我高特費綠他達重育聲然經的他連邊間，動年正口根？自質服一人。人型在的至立濟整多人程前聲這整會能賽臺親水他晚書海子包坐送。嚴天她府海件：遊異子花爭；眼我基型究可景山善成，過心的服再熱聲林前樣她
									| 視體講引面兒林王……動情都場現最況能度，的我當面子陽家就到，很許頭；年如美根來上晚，多事夫歷片；什的前如為界能排不了遊表時事大我流設由出是策王理人型在的至立濟整多人程前聲這整會能賽臺親水他晚書海子包坐送。嚴天她府海件：遊異子
				a.item.row.flex(href="javascript: void(0)")
					.col-sm-7.col-xs-12
						img.img-responsive(src="./dist/images/banner-2.jpg", alt="")
					.col-sm-5.col-xs-12.deep-brown
						.row
							.col-xs-12.light-brown
								h2.title WORK
							.col-xs-12.info
								p 
									| 視體講引面兒林王…
				a.item.row.flex(href="javascript: void(0)")
					.col-sm-7.col-xs-12
						img.img-responsive(src="./dist/images/banner-3.jpg", alt="")
					.col-sm-5.col-xs-12.deep-brown
						.row
							.col-xs-12.light-brown
								h2.title WORK
							.col-xs-12.info
								p 
									| 視體講引面兒林王……動情都場現最況能度，的我當面子陽家就到，很許頭；年如美根來上晚，多事夫歷片；什的前如為界能排不了遊表時事大我流設由出是策王理人型在的至立濟整多人程前聲這整會能賽臺親水他晚書海子包坐送
			.section.aboutus.container-fluid
				.row.flex
					.col-sm-5.col-xs-12.light-brown.title
						h2.title ABOUT US
						h3.sub-title 關於我們
					.col-sm-7.col-xs-12
						p
							| 銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，民吃的在食角供現保選體深再：主像腦年美任期發受，相無會，平個人紙年地興放童說我了南分有受子何只明展教演，的道不生然不？濟小合分滿影業向、發另只智能來高更臺，年曾者前身費裡裡緊合任往微不弟。孩空又戲策買能龍、灣各清水的際麼景山根善縣，否士年國中作！直答意是始文於方了些重坐得稱越選老，要表樂也球通的天八……作目最親我的主腳入我怕；倒老源父什？紀工而，大爸國海做；仍然代和車的那他期連讀己力程自間出毛我。是影處有物的慢野喜白車學而。主長易物，只顧間兩民眼友老？企易的有，總們入速提成好標使。
							br
							| 之問發起正上華的冷破上主際不幾，了多此也天大，畫氣里行響對養一樣電民縣多出中已是因入！外喜重所整引不有，要今地時不以子廠呢因花一總？城狀王這來不電同人的大定熱斯旅會是未動人，國家清策心麼考理異長分、牛從快保形且來林，一布李！想不達見高間，一要原去下散我說不說前車因害中天半覺；的媽手老用時話教為！山業過了設四的我觀流上，界緊里查……汽看人友不，有獨自回、動加起；有大發現，獎年散去看選省去認而分人發行康多要親我始四影是。
			.section.container-fluid.characteristic
				.row.flex.flex-wrap
					.col-xs-12
						h2.title.text-center.text-deep-brown CHARACTERISTIC
						h3.sub-title.text-center.text-deep-brown 四大特點
					a.animated.col-sm-3.col-xs-12(href="javascript: void(0)")
						div.icon.deep-brown
							include ../svg/section-icon-1.svg
						h4.title.text-center.text-deep-brown 簡單操作
						p.text-center.text-deep-brown 來可生她的作離了單不非適就是美，微明中的科？化題來的這財家子和不外們生件母出，爸美把自草一，年去係當話市我青的間前。
					a.animated.col-sm-3.col-xs-12(href="javascript: void(0)")
						div.icon.deep-brown
							include ../svg/section-icon-2.svg
						h4.title.text-center.text-deep-brown 即時發佈
						p.text-center.text-deep-brown 來可生她的作離了單不非適就是美，微明中的科？化題來的這財家子和不外們生件母出，爸美把自草一，年去係當話市我青的間前。
					a.animated.col-sm-3.col-xs-12(href="javascript: void(0)")
						div.icon.deep-brown
							include ../svg/section-icon-3.svg
						h4.title.text-center.text-deep-brown 快速應徵
						p.text-center.text-deep-brown 來可生她的作離了單不非適就是美，微明中的科？化題來的這財家子和不外們生件母出，爸美把自草一，年去係當話市我青的間前。
					a.animated.col-sm-3.col-xs-12(href="javascript: void(0)")
						div.icon.deep-brown
							include ../svg/section-icon-4.svg
						h4.title.text-center.text-deep-brown 工作透明
						p.text-center.text-deep-brown 來可生她的作離了單不非適就是美，微明中的科？化題來的這財家子和不外們生件母出，爸美把自草一，年去係當話市我青的間前。
			.section.container-fluid.services
				.row.flex.flex-wrap
					.col-xs-12
						h2.title.text-center.text-deep-brown SERVICES
						h3.sub-title.text-center.text-deep-brown 服務項目
					.col-sm-6.col-sm-push-6.col-xs-12
						img(src="./dist/images/server-1.jpg", alt="")
					.col-sm-6.col-sm-pull-6.col-xs-12
						.row
							.col-sm-2.col-xs-3
								include ../svg/server-number-1.svg
							.col-sm-9.col-xs-12
								h3.title.text-light-brown COOPERATION
								h4.sub-title 合作專區
								p 院長教這可改亞體河。風功另了可必越家官再雨電？康細包讀民名策一味這著散斷三公孩代見藥第市運共重什分色重獎？環小為型長白師寫停保了包山提卻家，不因子上那以外？為高李河我利市後、平設明！下聲道面影……響將筆名商運大；馬的什來世王入然地接等改加接縣。
								a.more.light-brown.text-center(href="javascript: void(0)") READ MORE
					.col-sm-6.col-xs-12
						img(src="./dist/images/server-2.jpg", alt="")
					.col-sm-6.col-xs-12
						.row
							.col-sm-2.col-xs-3
								include ../svg/server-number-2.svg
							.col-sm-9.col-xs-12
								h3.title.text-light-brown 
									| IMMEDIATELY
									br
									| LOOK NEWS
								h4.sub-title 立即看報
								p 線二學出頭修起節代錯論愛空平手也參情經差，高及能裡、作口岸人明我長令造想成拉體查濟，等了也文海方進思覺沒慢水十的是意、我上樣；勢老世學能院緊的世滿的重鄉生工法歡飛話起極家說去、河過畫難我沒動進朋他出國驚復可於望。時響康聲。
								a.more.light-brown.text-center(href="javascript: void(0)") READ MORE
			include ../custom_module/footer