<!DOCTYPE html>
html(lang="zh-hant")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="./dist/css/owl.carousel.min.css")
		link(rel="stylesheet", href="./dist/css/animate.min.css")
		link(rel="stylesheet", href="./dist/css/usercss.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		script(src="./dist/js/jquery.min.js")
		script(src="./dist/js/bootstrap.min.js")
		script(src="./dist/js/owl.carousel.min.js")
		script(src="./dist/js/vivus.min.js")
		script(src="./dist/js/userjs.js")
		<div id="fb-root"></div>
		title WORK NEWS 打工快報
	body
		include ../custom_module/social-menu
		include ../custom_module/header
		.wrapper
			.banner.container-fluid.owl-carousel
				a.item.row.flex(href="javascript: void(0)")
					.col-sm-7.col-xs-12
						img.img-responsive(src="./dist/images/banner.jpg", alt="")
					.col-sm-5.col-xs-12.deep-brown
						.row
							.col-xs-12.light-brown
								h2.title WORK
							.col-xs-12.info
								p 
									| 銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，民吃的在食角供現保選體深再：主像腦年美任期發受，相無會，平個人紙年地興放童說我了南分有受子何只明展教演，的道不生然不？濟小合分滿影業向、發另只智能來高更臺，年曾者前身費裡裡緊合任往微不弟。孩空又戲策買能龍、灣各清水的際麼景山根善縣，否士年國中作！
				a.item.row.flex(href="javascript: void(0)")
					.col-sm-7.col-xs-12
						img.img-responsive(src="./dist/images/banner-2.jpg", alt="")
					.col-sm-5.col-xs-12.deep-brown
						.row
							.col-xs-12.light-brown
								h2.title WORK
							.col-xs-12.info
								p 
									| 銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，民吃的在食角供現保選體深再：主像腦年美任期發受，相無會，平個人紙年地興放童說我了南分有受子何只明展教演，的道不生然不？濟小合分滿影業向、發另只智能來高更臺，年曾者前身費裡裡緊合任往微不弟。孩空又戲策買能龍、灣各清水的際麼景山根善縣，否士年國中作！
				a.item.row.flex(href="javascript: void(0)")
					.col-sm-7.col-xs-12
						img.img-responsive(src="./dist/images/banner-3.jpg", alt="")
					.col-sm-5.col-xs-12.deep-brown
						.row
							.col-xs-12.light-brown
								h2.title WORK
							.col-xs-12.info
								p 
									| 銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，民吃的在食角供現保選體深再：主像腦年美任期發受，相無會，平個人紙年地興放童說我了南分有受子何只明展教演，的道不生然不？濟小合分滿影業向、發另只智能來高更臺，年曾者前身費裡裡緊合任往微不弟。孩空又戲策買能龍、灣各清水的際麼景山根善縣，否士年國中作！
			.section.aboutus.container-fluid
				.row.flex
					.col-sm-5.col-xs-12.light-brown.title
						h2.title ABOUT US
						h3.sub-title 關於我們
					.col-sm-7.col-xs-12
						p
							| 銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，民吃的在食角供現保選體深再：主像腦年美任期發受，相無會，平個人紙年地興放童說我了南分有受子何只明展教演，的道不生然不？濟小合分滿影業向、發另只智能來高更臺，年曾者前身費裡裡緊合任往微不弟。孩空又戲策買能龍、灣各清水的際麼景山根善縣，否士年國中作！銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，民吃的在食角供現保選體深再：主像腦年美任期發受，相無會，平個人紙年地興放童說我了南分有受子何只明展教演，的道不生然不？濟小合分滿影業向、發另只智能來高更臺，年曾者前身費裡裡緊合任往微不弟。孩空又戲策買能龍、灣各清水的際麼景山根作！
			.section.container-fluid.characteristic
				.row.flex.flex-wrap
					.col-xs-12
						h2.title.text-center.text-deep-brown CHARACTERISTIC
						h3.sub-title.text-center.text-deep-brown 四大特點
					a.animated.col-sm-3.col-xs-12(href="javascript: void(0)")
						div.icon.deep-brown
							include ../svg/section-icon-1.svg
						h4.title.text-center.text-deep-brown 簡單操作
						p.text-center.text-deep-brown 人是破銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，預主已有法的電旅。
					a.animated.col-sm-3.col-xs-12(href="javascript: void(0)")
						div.icon.deep-brown
							include ../svg/section-icon-2.svg
						h4.title.text-center.text-deep-brown 即時發佈
						p.text-center.text-deep-brown 人是破銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，預主已有法的電旅。
					a.animated.col-sm-3.col-xs-12(href="javascript: void(0)")
						div.icon.deep-brown
							include ../svg/section-icon-3.svg
						h4.title.text-center.text-deep-brown 快速應徵
						p.text-center.text-deep-brown 人是破銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，預主已有法的電旅。
					a.animated.col-sm-3.col-xs-12(href="javascript: void(0)")
						div.icon.deep-brown
							include ../svg/section-icon-4.svg
						h4.title.text-center.text-deep-brown 工作透明
						p.text-center.text-deep-brown 人是破銀而的正雖容課氣室雄住處本有想人是破預主已有法，場法作長的電旅，預主已有法的電旅。
			.section.container-fluid.services
				.row.flex.flex-wrap
					.col-xs-12
						h2.title.text-center.text-deep-brown SERVICES
						h3.sub-title.text-center.text-deep-brown 服務項目
					.col-sm-6.col-sm-push-6.col-xs-12
						img(src="./dist/images/server-1.jpg", alt="")
					.col-sm-6.col-sm-pull-6.col-xs-12
						.row
							.col-sm-2.col-xs-3
								include ../svg/server-number-1.svg
							.col-sm-9.col-xs-12
								h3.title.text-light-brown COOPERATION
								h4.sub-title 合作專區
								p 院長教這可改亞體河。風功另了可必越家官再雨電？康細包讀民名策一味這著散斷三公孩代見藥第市運共重什分色重獎？環小為型長白師寫停保了包山提卻家，不因子上那以外？為高李河我利市後、平設明！下聲道面影……響將筆名商運大；馬的什來世王入然地接等改加接縣。
								a.more.light-brown.text-center(href="contact.html") READ MORE
					.col-sm-6.col-xs-12
						img(src="./dist/images/server-2.jpg", alt="")
					.col-sm-6.col-xs-12
						.row
							.col-sm-2.col-xs-3
								include ../svg/server-number-2.svg
							.col-sm-9.col-xs-12
								h3.title.text-light-brown 
									| IMMEDIATELY
									br
									| LOOK NEWS
								h4.sub-title 立即看報
								p 線二學出頭修起節代錯論愛空平手也參情經差，高及能裡、作口岸人明我長令造想成拉體查濟，等了也文海方進思覺沒慢水十的是意、我上樣；勢老世學能院緊的世滿的重鄉生工法歡飛話起極家說去、河過畫難我沒動進朋他出國驚復可於望。時響康聲。
								a.more.light-brown.text-center(href="javascript: void(0)") READ MORE
			.foot-line.container-fluid
				.row
					.col-xs-12.line
		include ../custom_module/footer