include ../jsonFormat/tabs_site
include ../workLayout/layout
include ../components/accordion
<!DOCTYPE html>
html(lang="zh-hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="./dist/css/owl.carousel.min.css")
    link(rel="stylesheet", href="./dist/css/animate.min.css")
    link(rel="stylesheet", href="./dist/css/usercss.css")
    script(src="./dist/js/jquery.min.js")
    script(src="./dist/js/bootstrap.min.js")
    script(src="./dist/js/owl.carousel.min.js")
    script(src="./dist/js/vivus.min.js")
    script(src="./dist/js/userjs.js")
    title 註冊會員
  body
    .wrapper.contact.register
      include ../custom_module/social-menu
      include ../custom_module/header
      .container-fluid
        .row
          .contact-content.col-12
            header.head
              h2.title.text-light-brown 註冊會員
            article.content
              .form-group
                span.col 帳&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;號：
                input.form-control(type="text", value="")
              .form-group
                span.col 密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;碼：
                input.form-control(type="password", value="")
              .form-group
                span.col 確認密碼：
                input.form-control(type="password", value="")
              .form-group
                span.col 手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;機：
                input.form-control(type="tel", value="")
              .form-group
                span.col.male 性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;別：
                .radio-group
                  div.radio-inline
                    input.hidden(type="radio", name="gender", value="male", id="male")
                    label(for="male") 男
                  div.radio-inline
                    input.hidden(type="radio", name="gender", value="female", id="female")
                    label(for="female") 女
              .form-group
                span.col 聯絡信箱：
                input.form-control(type="text", value="")
              .form-group
                span.col &nbsp;&nbsp;&nbsp;驗證碼：
                input.form-control.verification(type="text", value="")
                img(src="./dist/images/verification.png", alt="")
            footer.foot.text-center
              a.btn(href="#") 註冊
            footer.foot.text-center.otherLogin
              a.text-deep-brown.register(href="login.html") 登入會員
              a.text-deep-brown.forget(href="forget.html") 忘記密碼？
      include ../custom_module/footer