extends ../custom_module/resumeTemplate

block main
  .work-info-content
    header
      h2.title.text-light-brown 
        | 我的履歷表
        a(href="resume_modified.html")
          include ../svg/pen.svg
          | 修改
    article
      ul
        li.list
          ul.sub-list
            li.title 
              h3.title 基本資料
            li
              span 中文姓名：
              span 郭子榕
            li
              span 英文名字：
              span GUO，ZI－RONG 
            li
              span 性別：
              span 女 
            li
              span 出生日期： 
              span 1993年06月01日 
            li
              span 婚姻狀況： 
              span 未婚
            li
              span 身高體重： 
              span 164公分 53公斤
        li.list
          ul.sub-list
            li.title 
              h3.title 聯絡資料 
            li
              span E-mail： 
              span leonaguo820601@gmail.com 
            li
              span 聯絡電話：
              span 0982327851 
            li
              span 住家：
              span (04)25243667  
            li
              span 通訊地址：
              span 台北市大安區信義路四段279號7F  
        li.list
          ul.sub-list
            li.title 
              h3.title 求職資料  
            li
              span 就業狀態：
              span 無工作(待業中) 
            li
              span 特殊身份：
              span 
            li
              span 具備駕駛執照：
              span 普通重型機車駕照  
            li
              span 具備交通工具：
              span 普通重型機車	 
        li.list
          ul.sub-list
            li.title 
              h3.title 自傳
            li
              | 傳業回又四古、路論低屋怕出和！我創成行無整開蘭就然及效些果道道成臉收學美生沒期心然候小日以：對快長！也有傳早獨星交下一分教燈，景男人主：期土謝機施也關幾？對是家。十才提羅書服且無食表這已政把，花這時義他能大病間要己發回先鄉益只動家樓景。筆望樓雨。
block side
  .work-info-side
    .personal-images
      img.img-responsive(src="./dist/images/personal.png", alt="")
    .recommend.tab-content.server
      header
        h3.title 推薦專區
      .row
        a.col-xs-12.layout-2(href="#")
          .vip
            img(src="./dist/images/vip.png", alt="")
          h2.info-title.text-center 急徵
          .info-content
            h4.title 趴車小弟
            p.row.info-row
              span.col-sm-4.col-xs-12 公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司：
              span.col-sm-8.col-xs-12 ＯＯＯ有限公司
            p.row.info-row
              span.col-sm-4.col-xs-12 地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;區：
              span.col-sm-8.col-xs-12 台北市大安區信義路２號
            p.row.info-row
              span.col-sm-4.col-xs-12 工作地點：
              span.col-sm-8.col-xs-12 台北市
            p.row.info-row
              span.col-sm-4.col-xs-12 工作時間：
              span.col-sm-8.col-xs-12 2017-12-24
            p.row.info-row
              span.col-sm-4.col-xs-12 發佈時間：
              span.col-sm-8.col-xs-12 2017-12-10
          .info-footer
            h4.title.text-center
              span 月薪
              span 30000
              small 起
        a.col-xs-12.layout-3(href="#")
          .vip
            img(src="./dist/images/vip.png", alt="")
          .info-content
            h2.info-title.text-center 急徵
            span.border
            p.row.info-row
              span.col-sm-4.col-xs-12 公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司：
              span.col-sm-8.col-xs-12 ＯＯＯ有限公司
            p.row.info-row
              span.col-sm-4.col-xs-12 地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;區：
              span.col-sm-8.col-xs-12 台北市大安區信義路２號
            p.row.info-row
              span.col-sm-4.col-xs-12 工作地點：
              span.col-sm-8.col-xs-12 台北市
            p.row.info-row
              span.col-sm-4.col-xs-12 工作時間：
              span.col-sm-8.col-xs-12 2017-12-24
            p.row.info-row
              span.col-sm-4.col-xs-12 發佈時間：
              span.col-sm-8.col-xs-12 2017-12-10
            span.border.end
            .content-footer
              h4.title.text-center 洗碗阿姨
              h4.title.text-light-brown.text-center.money NT300 / hr