extends ../custom_module/workTemplate

block main
  .work-info-content
    header
      h2.title.text-light-brown A7跨年活動PT
      p
        span.tag 台北
        span.tag 活動
        span.tag 時薪 300
        time.pull-right 張貼於 2017 年 12 月 24 日 01:09:22 PM (大約 4 小時 前)
    article
      ul
        li.list
          h3.title 公司名稱
          p 在臺形能為
        li.list
          h3.title 薪資待遇
          p NT200/hr
        li.list
          h3.title 發薪日期
          p 2018/01/02
        li.list
          h3.title 工作時間
          p 2018/01/01-2018/09/09 Am05:00~Pm05:00
        li.list
          h3.title 工作地點
          p COMMUNE A7貨櫃市集，110台北市信義區松壽路3號
        li.list.items-start
          h3.title 工作內容
          ul.work-info-list
            li 物有策怎；不良工！案正這
            li 在了用落規國不！孩變時：總事半法每內建了
            li 除不哥的朋主化常樹行能片成片樹
            li 笑媽對安位長使嚴幾的節軍清升訴隨票對學法代
        li.list
          h3.title 需求人數
          p 10人
        li.list.items-start
          h3.title 條件要求
          ul.work-info-list
            li 物有策怎；不良工！案正這
            li 在了用落規國不！孩變時：總事半法每內建了
            li 除不哥的朋主化常樹行能片成片樹
            li 笑媽對安位長使嚴幾的節軍清升訴隨票對學法代
        li.list
          h3.title 聯絡人
          span.icon_text 
            include ../svg/people.svg
            | Andy
          a.work-contact.icon_text(href="mailto: andy@mail.com.tw")
            include ../svg/message.svg
            | s8505952001@gmail.com
        li.list.map
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.9377367533502!2d121.56398391500622!3d25.03618698397131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb0addf3aa5%3A0x71101398d92e2e34!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5p2-5aO96LevM-iZnw!5e0!3m2!1szh-TW!2stw!4v1515600861089" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
block side
  .work-info-side
    .right-info
      header
        h3.pay 
          | NT$
          span 300
          small / 小時
      article
        h4 11-30 人應徵
      footer.btn-group
        ul
          li
            a.btn.red(type="button" class="btn" data-toggle="modal" data-target="#modal-1") 我要應徵
          li
            a.btn.light-brown(href="#") 加入收藏
          li
            a.btn.deep-brown(href="#") 我要檢舉
    .recommend.tab-content.server
      header
        h3.title 推薦專區
      .row
        a.col-xs-12.layout-2(href="#")
          .vip
            img(src="./dist/images/vip.png", alt="")
          h2.info-title.text-center 急徵
          .info-content
            h4.title 趴車小弟
            p.row.info-row
              span.col-sm-4.col-xs-12 公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司：
              span.col-sm-8.col-xs-12 ＯＯＯ有限公司
            p.row.info-row
              span.col-sm-4.col-xs-12 地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;區：
              span.col-sm-8.col-xs-12 台北市大安區信義路２號
            p.row.info-row
              span.col-sm-4.col-xs-12 工作地點：
              span.col-sm-8.col-xs-12 台北市
            p.row.info-row
              span.col-sm-4.col-xs-12 工作時間：
              span.col-sm-8.col-xs-12 2017-12-24
            p.row.info-row
              span.col-sm-4.col-xs-12 發佈時間：
              span.col-sm-8.col-xs-12 2017-12-10
          .info-footer
            h4.title.text-center
              span 月薪
              span 30000
              small 起
        a.col-xs-12.layout-3(href="#")
          .vip
            img(src="./dist/images/vip.png", alt="")
          .info-content
            h2.info-title.text-center 急徵
            span.border
            p.row.info-row
              span.col-sm-4.col-xs-12 公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司：
              span.col-sm-8.col-xs-12 ＯＯＯ有限公司
            p.row.info-row
              span.col-sm-4.col-xs-12 地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;區：
              span.col-sm-8.col-xs-12 台北市大安區信義路２號
            p.row.info-row
              span.col-sm-4.col-xs-12 工作地點：
              span.col-sm-8.col-xs-12 台北市
            p.row.info-row
              span.col-sm-4.col-xs-12 工作時間：
              span.col-sm-8.col-xs-12 2017-12-24
            p.row.info-row
              span.col-sm-4.col-xs-12 發佈時間：
              span.col-sm-8.col-xs-12 2017-12-10
            span.border.end
            .content-footer
              h4.title.text-center 洗碗阿姨
              h4.title.text-light-brown.text-center.money NT300 / hr
  // 簡短履歷pop up
  div(class="modal fade mini-resume" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1-label")
    div(class="modal-dialog" role="document")
      .modeal-content
        .modal-header
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          .row
            .col-xs-offset-3.col-xs-9
              h4.modal-title#modal-1-label 簡短履歷
              h5 您的履歷將會寄到雇主手中，請檢查履歷內容正確無誤
        .modal-body
          .row
            .col-xs-3
              img.rounded.img-responsive(src="./dist/images/personal.png", alt="")
            .col-xs-12.resume
              table.table.table-striped
                tbody
                  tr
                    td 姓名
                    td 美市導子
                  tr
                    td 英文名字
                    td Lorem Ipsum
                  tr
                    td 性別
                    td 女
                  tr
                    td Emaiil
                    td
                      a(href="mailto: test@mail.com") test@mail.com
                  tr
                    td 手機
                    td
                      a(href="tel: 0900-000-000") 0900-000-000
                  tr
                    td 年齡
                    td 26
                  tr
                    td 教育程度
                    td 大學
                  tr
                    td 工作經驗
                    td 家管
                  tr
                    td 自我介紹
                    td
                      | 傳業回又四古、路論低屋怕出和！我創成行無整開蘭就然及效些果道道成臉收學美生沒期心然候小日以：對快長！也有傳早獨星交下一分教燈，景男人主：期土謝機施也關幾？對是家。十才提羅書服且無食表這已政把，花這時義他能大病間要己發回先鄉益只動家樓景。筆望樓雨。
        .modal-footer
          .row
            .col-xs-12
              span 留言給雇主
              textarea.form-control(rows="5")
            .col-xs-12.btn-group
              button.btn.cancel(data-dismiss="modal" aria-label="Close") 關閉
              button.btn.submit 應徵