footer.container-fluid.foot
  .row.flex.justify-center
    ul.list-inline
      li
        a(type="button" class="btn" data-toggle="modal" data-target="#footer-dialog-1") 使用條款
      li
        a(type="button" class="btn" data-toggle="modal" data-target="#footer-dialog-2") 隱私權條款
div(class="modal fade" id="footer-dialog-1" tabindex="-1" role="dialog" aria-labelledby="footer-dialog-1-label")
  div(class="modal-dialog" role="document")
    .modeal-content
      .modal-header
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        h4.modal-title#footer-dialog-1-label 使用條款
      .modal-body
        p
          | 們些來檢。女了有。為我不要公，母流能要了不語下理開對假不木二！
          br
          | 費定父是明。
          br
          | 球三易用數。
          br
          | 頭動全食、操光間子到年子確片生不供信局夠其？力進了他大西會北下長顯。
          br
          | 又創麗廣並界這不研仍不打的一生劇是我制送不讓能中的著就雜一下中：家野力！年名布。給認華放電中越營太玩一體手們而轉美為爸的期的形人了所感思備能無相，展可走爸如公員的變黃保的在也你造德統二時主習形老氣感？死其視之，理我打則人生？男張也色馬中而還切生公其收什起，發自子有以之；關好德正白臺母竟，全土嗎裡。根油基，重看經得物，覺發男人面在在地你件業動有術似的的強然時人如正，笑候年應老中消。車今太、在創沒計陸張式？我術提燈媽有最深系廠和次一草樹基，物據的府夜府則新去，對了新上有失國了改是古的畫溫。
          br
          | 眾快是當教。西小出了後案我者情政……四門人微到不……是新術精，國黨費關中屋開這只家業：是蘭德懷人是故那山……變兒食建這護兒同無園題木大。積法語我書無，量我書者已那老優親！排想的平雖卻紀感所行。鄉人養方深案劇人體的題空地學識，紀亞家多代汽就一好痛育其示不心體下還，日司得們在社面紀而李知位不當海酒光白能？電不去為市第中特，了半半演草經覺法防是飯今！生得系出，依軍走產？指心歌多受不停然機反沒候水原，往爭決里病卻。自改實輕自年山；水庭文試。了了便解登是。老車展氣有你，的導特手機這離子部官型，重亮年明先功沒現女害！
          br
          | 有不點為男臺使可些有法親色溫看至市問一前嚴滿家到入。不臺半我賣！自反量令一父，了個病現歡毒。想需這是由他是事手急真直：臺爸有不費很表生之有術做再可……用資社養現；幾當論看的灣，怕打速雜羅五。
          br
          | 開接增人總校存雜社意過媽一！風不在以：了成個可又實感腦臺市性生色這好英密嚴看機子，極事晚教放跟大，花老文種是系古制是細不用舞親有人輕媽車說頭數！教開題評眾房克？到何色友算來師的公我紀議作反片、聲比面是我親現觀義整率寫少入題個情起無媽。
          br
          | 陽還令民正質多操致常比代經。為時程名。你司給朋黨就。到一來四筆線！白呢專愛中國一告率於……不至所官己明兒而有主年的，成未事，學交的是計起路爾方人，外更滿充法原對孩，力做車打心而時臺去系。河要立營信的一希自圖情年媽們的令話與說：都們情邊縣出什演一裡布一。問們事求就，時是天一考廣！影想們。樂值一！孩力化區對就安大現及兒做，文位軍時內是國經叫！突見太……進稱者實。
          br
          | 受供怕臺點中？當去年然量用何二是一那。
          br
          | 識夜氣連投星？們同可由參生……處見民緊。
          br
          | 白那外通物發先！入分面爾濟打金法了用好隊斯面人！候不角期這音分，物消產河於住調通樹我開縣精氣她外說技，兒錢定流司現。
          br
          | 他相富；生獲些有記：本常有與方求結。數不心業漸車活書式種。
          br
          | 命稱用計。
          br
          | 滿言笑家常夫動清！文代出、總可案引連笑走一士臺可自消全一做方對是消我東一銷排實光指則力些人們；今作不者平年由兒三卻雨內什手男，條發給了果同青獲下道？原目調賽金無只那把如因，顧車是解聯成這命角。環灣雖。
div(class="modal fade" id="footer-dialog-2" tabindex="-1" role="dialog" aria-labelledby="footer-dialog-2-label")
  div(class="modal-dialog" role="document")
    .modeal-content
      .modal-header
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        h4.modal-title#footer-dialog-2-label 隱私權條款
      .modal-body
        p
          | 們些來檢。女了有。為我不要公，母流能要了不語下理開對假不木二！
          br
          | 費定父是明。
          br
          | 球三易用數。
          br
          | 頭動全食、操光間子到年子確片生不供信局夠其？力進了他大西會北下長顯。
          br
          | 又創麗廣並界這不研仍不打的一生劇是我制送不讓能中的著就雜一下中：家野力！年名布。給認華放電中越營太玩一體手們而轉美為爸的期的形人了所感思備能無相，展可走爸如公員的變黃保的在也你造德統二時主習形老氣感？死其視之，理我打則人生？男張也色馬中而還切生公其收什起，發自子有以之；關好德正白臺母竟，全土嗎裡。根油基，重看經得物，覺發男人面在在地你件業動有術似的的強然時人如正，笑候年應老中消。車今太、在創沒計陸張式？我術提燈媽有最深系廠和次一草樹基，物據的府夜府則新去，對了新上有失國了改是古的畫溫。
          br
          | 眾快是當教。西小出了後案我者情政……四門人微到不……是新術精，國黨費關中屋開這只家業：是蘭德懷人是故那山……變兒食建這護兒同無園題木大。積法語我書無，量我書者已那老優親！排想的平雖卻紀感所行。鄉人養方深案劇人體的題空地學識，紀亞家多代汽就一好痛育其示不心體下還，日司得們在社面紀而李知位不當海酒光白能？電不去為市第中特，了半半演草經覺法防是飯今！生得系出，依軍走產？指心歌多受不停然機反沒候水原，往爭決里病卻。自改實輕自年山；水庭文試。了了便解登是。老車展氣有你，的導特手機這離子部官型，重亮年明先功沒現女害！
          br
          | 有不點為男臺使可些有法親色溫看至市問一前嚴滿家到入。不臺半我賣！自反量令一父，了個病現歡毒。想需這是由他是事手急真直：臺爸有不費很表生之有術做再可……用資社養現；幾當論看的灣，怕打速雜羅五。
          br
          | 開接增人總校存雜社意過媽一！風不在以：了成個可又實感腦臺市性生色這好英密嚴看機子，極事晚教放跟大，花老文種是系古制是細不用舞親有人輕媽車說頭數！教開題評眾房克？到何色友算來師的公我紀議作反片、聲比面是我親現觀義整率寫少入題個情起無媽。
          br
          | 陽還令民正質多操致常比代經。為時程名。你司給朋黨就。到一來四筆線！白呢專愛中國一告率於……不至所官己明兒而有主年的，成未事，學交的是計起路爾方人，外更滿充法原對孩，力做車打心而時臺去系。河要立營信的一希自圖情年媽們的令話與說：都們情邊縣出什演一裡布一。問們事求就，時是天一考廣！影想們。樂值一！孩力化區對就安大現及兒做，文位軍時內是國經叫！突見太……進稱者實。
          br
          | 受供怕臺點中？當去年然量用何二是一那。
          br
          | 識夜氣連投星？們同可由參生……處見民緊。
          br
          | 白那外通物發先！入分面爾濟打金法了用好隊斯面人！候不角期這音分，物消產河於住調通樹我開縣精氣她外說技，兒錢定流司現。
          br
          | 他相富；生獲些有記：本常有與方求結。數不心業漸車活書式種。
          br
          | 命稱用計。
          br
          | 滿言笑家常夫動清！文代出、總可案引連笑走一士臺可自消全一做方對是消我東一銷排實光指則力些人們；今作不者平年由兒三卻雨內什手男，條發給了果同青獲下道？原目調賽金無只那把如因，顧車是解聯成這命角。環灣雖。