header.container-fluid
  .row.flex.justify-center.logo
    include ../svg/logo.svg
nav.navbar.menu
  .container-fluid
    ul.nav.navbar-nav.flex
      li
        a(href="javascript:void(0)") 打工報
      li
        a(href="javascript:void(0)") 臨時報
      li
        a(href="javascript:void(0)") 聯絡我們
      li
        a(href="javascript:void(0)") 會員專區