header.container-fluid
  .row.flex.justify-center.logo
    a(href="#")
      include ../svg/logo.svg
nav.navbar.menu
  .container-fluid
    ul.nav.navbar-nav.flex
      li
        a(href="work.html") 打工報
      li
        a(href="part.html") 臨時報
      li
        a(href="contact.html") FAQ
      li
        a(href="login.html") 會員專區
      li
        a(href="release.html") 發佈快報