div.social-menu.list-inline
  .visible-xs
    a.navbar-toggle(href="javascript: void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    ul.dropdown-menu.menulist(aria-labelledby="menulist")
      li.dropdown-title.text-center 導航選單
  div.message-icon
    a#message(href="javascript: void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
      span.count 1
      include ../svg/fixed-icon-1.svg
    ul.dropdown-menu.message(aria-labelledby="message")
      li.dropdown-title.text-center 對話紀錄
      li
        a(href="javascript:void(0)") 驗遠是改到防業發卻如角山經驗遠是改到防業發卻如角山經驗遠是改到防業發卻如角山經驗遠是改到防業發卻如角山經驗遠是改到防業發卻如角山經
      li
        a(href="javascript:void(0)") 驗遠是改到防業發卻如角山經
      li
        a(href="javascript:void(0)") 驗遠是改到防業發卻如角山經
      li
        a(href="javascript:void(0)") 驗遠是改到防業發卻如角山經
      li.more
        a(href="javascript:void(0)") 全部紀錄
  div.facebook
    a(href="javascript: void(0)")
      include ../svg/fixed-icon-2.svg
  div.line
    a(href="javascript: void(0)")
      include ../svg/fixed-icon-3.svg
  div.ig
    a(href="javascript: void(0)")
      include ../svg/fixed-icon-4.svg